@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.upRight {
  -webkit-text-orientation: upright;
  text-orientation: upright;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-rl;
}